Martin Mendoza\
NBA Draft Analysis Cleaning - Personal Project\
09/29/25

This notebook is for preparing and cleaning the NBA Draft dataset to use and import into mysql.

The cleaning steps include:\
Imports and Data Loading\
Load the raw CSV into a DataFrame.\
Initial Data Inspection\
Check for duplicates and null values.\
Verify data types.\
Handling Missing Values\
Save Cleaned Data\
Export the cleaned dataset to a CSV for mysql.

In [1]:
# Imports
import os
import pandas as pd

In [2]:
# Load data
cwd = os.getcwd()
df = pd.read_csv(cwd + "/nbaplayersdraft.csv")

In [3]:
# Describe data
df.describe()

,id,year,rank,overall_pick,years_active,games,minutes_played,points,total_rebounds,assists,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
count,1922.000000,1922.000000,1922.000000,1922.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,...,1545.000000,1633.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1668.000000,1668.000000,1669.000000
mean,961.500000,2005.317378,29.694589,29.694589,6.332534,348.042540,8399.055722,3580.413421,1497.009587,774.300779,...,0.272405,0.716825,18.134032,7.275734,3.194368,1.550749,17.873697,0.061691,-2.311271,4.403176
std,554.977927,9.456946,16.912454,16.912454,4.656321,324.897567,9845.871529,4826.142847,2003.686388,1284.602969,...,0.128339,0.118702,8.707656,4.969343,2.083895,1.488536,27.989805,0.094467,4.143403,11.461729
min,1.000000,1989.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.700000,-1.264000,-52.000000,-8.500000
25%,481.250000,1997.000000,15.000000,15.000000,2.000000,72.000000,838.000000,265.000000,128.000000,46.000000,...,0.222000,0.659000,11.000000,3.400000,1.700000,0.500000,0.400000,0.030000,-3.900000,-0.400000
50%,961.500000,2005.000000,30.000000,30.000000,5.000000,235.000000,4204.000000,1552.000000,656.000000,257.000000,...,0.317000,0.736000,17.700000,6.200000,2.800000,1.100000,5.300000,0.069000,-2.000000,0.000000
75%,1441.750000,2013.000000,44.000000,44.000000,10.000000,584.000000,13246.000000,5150.000000,2139.000000,910.000000,...,0.356000,0.797000,24.800000,10.000000,4.200000,2.100000,24.500000,0.104000,-0.300000,4.500000
max,1922.000000,2021.000000,60.000000,60.000000,22.000000,1541.000000,52139.000000,37062.000000,15091.000000,12091.000000,...,1.000000,1.000000,41.100000,27.200000,13.300000,9.500000,249.500000,1.442000,51.100000,142.600000

In [4]:
# Head of data
df.head()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7

In [5]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

In [6]:
# Check for null values
df.isnull().sum()

id                             0
year                           0
rank                           0
overall_pick                   0
team                           0
player                         0
college                      337
years_active                 253
games                        253
minutes_played               253
points                       253
total_rebounds               253
assists                      253
field_goal_percentage        257
3_point_percentage           377
free_throw_percentage        289
average_minutes_played       253
points_per_game              253
average_total_rebounds       253
average_assists              253
win_shares                   253
win_shares_per_48_minutes    254
box_plus_minus               254
value_over_replacement       253
dtype: int64

In [7]:
# Check data types
df.dtypes

id                             int64
year                           int64
rank                           int64
overall_pick                   int64
team                          object
player                        object
college                       object
years_active                 float64
games                        float64
minutes_played               float64
points                       float64
total_rebounds               float64
assists                      float64
field_goal_percentage        float64
3_point_percentage           float64
free_throw_percentage        float64
average_minutes_played       float64
points_per_game              float64
average_total_rebounds       float64
average_assists              float64
win_shares                   float64
win_shares_per_48_minutes    float64
box_plus_minus               float64
value_over_replacement       float64
dtype: object

college\
Replace missing values with a placeholder like "Unknown" or "International".
We can this this occurance is common in more modern drafts as the NBA drafts international players more often now than in earlier drafts.

All performance stats with many null values are from players who were drafted but never played a game/in the NBA

Percentages differ for players who have played a game but havent attempted a 3pt, ft, fg.

In [8]:
# Set null performance stats to 0
performance_stats = ['years_active', 'games', 'minutes_played', 'points', 'total_rebounds', 'assists', 'average_minutes_played', 'points_per_game', 'average_total_rebounds', 'average_assists', 'win_shares', 'win_shares_per_48_minutes', 'box_plus_minus', 'value_over_replacement']

for stat in performance_stats:
    df[stat].fillna(0, inplace=True)
    
# Set null percetage stats to 0
percentage_stats = ['field_goal_percentage', '3_point_percentage', 'free_throw_percentage']

for stat in percentage_stats:
    df[stat].fillna(0, inplace=True)

# Set null values in college to "None/International"
df['college'].fillna("None/International", inplace=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_15392\2493289165.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[stat].fillna(0, inplace=True)
C:\Users\marti\AppData\Local\Temp\ipykernel_15392\2493289165.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[stat].fillna(0, inplace=True)
C:\Users\marti\AppData\Local\Temp\ipykernel_15392\2493289165.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['college'].fillna("None/International", inplace=True)

In [9]:
# Check sum of null values after cleaning
df.isnull().sum()

id                           0
year                         0
rank                         0
overall_pick                 0
team                         0
player                       0
college                      0
years_active                 0
games                        0
minutes_played               0
points                       0
total_rebounds               0
assists                      0
field_goal_percentage        0
3_point_percentage           0
free_throw_percentage        0
average_minutes_played       0
points_per_game              0
average_total_rebounds       0
average_assists              0
win_shares                   0
win_shares_per_48_minutes    0
box_plus_minus               0
value_over_replacement       0
dtype: int64

In [10]:
# Save as cleaned CSV
df.to_csv("C:/_data/_imports/nbaplayersdraft.csv", index=False)